body{
    background-color: #595f39;
    font-family: 'Times New Roman', Times, serif;
}

.main-box{
    background-color: #1B1B1B;
}

h1, h2, h3, ul, li{
    color: #C4C5BA;
}

p {
    color: #E4E4DE;
}

a{
    text-decoration: none;
} 