body {
  background-color: #595f39;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.main-box {
  background-color: #1b1b1b;
  padding: 10px;
  width: auto;
  border: 1px solid white;
}

h1,
h2,
h3,
h4,
ul,
li {
  color: rgb(255, 255, 255);
}

ul,
li {
  text-align: left;
}

p {
  color: #c0c0b7;
  font-size: 17px;
}

#return {
  text-align: center;
}

#title-link {
  text-align: center;
}

#recipe-link {
  text-align: center;
  margin-bottom: 100%;
}
a {
  text-decoration: none;
  text-align: left;
}
.recipes-box {
  margin: 50px;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid white;
  padding: 60px;
  
}

.ingredient-box {
  margin: 50px;
  margin-left: 400px;
  margin-right: 400px;
  border: 1px solid white;
  padding: 20px;
  line-height: 35px;
}

.recipe-title-box {
  margin-left: 15%;
  margin-right: 15%;
}
